<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/testA" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/testB" routerLinkActive="active">Second Component</a></li>
    <li><a routerLink="/getRequest" routerLinkActive="active">Make A Get Request to public Rest endpoint.</a></li>
    <li><a routerLink="/helloServer" routerLinkActive="active">Make A Get Request to OUR private Rest endpoint.</a></li>

  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>



