<p>getrequest works!</p>
<h1>
  This section makes a get request to...  https://jsonplaceholder.typicode.com/posts
<br>
Try it with postman...
</h1>






<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th class="text-center">User ID</th>
                <th class="text-center">ID</th>
                <th class="text-center">Title</th>
                <th class="text-center">Body</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of _postsArray">
                <td class="text-center" style="width: 15px;">{{post.userId}}</td>
                <td class="text-center" style="width: 15px;">{{post.id}}</td>
                <td class="text-center" style="width: 200px;">{{post.title}}</td>
                <td class="text-center">{{post.body}}</td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
