<p>hello-server works!</p>


<h1>
    This section makes a get request to SPRING BACKEND   <br>
    (MAKE SURE SERVER IS RUNNING)...   <br>
     http://localhost:8080/
  <br>
  Try it with postman...
  </h1>
  
  
  
  
  
  
  <div class="container">
      <div class="row">
          <table class="table">
              <thead class="thead-inverse">
              <tr>
                  <th class="text-center">Message</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let message of _messagesArray">
                  <td class="text-center" style="width: 15px;">{{message.message}}</td>

              </tr>
              </tbody>
          </table>
      </div>
    </div>
  